@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
  }

  body{
    line-height: 1.6;
    background-color: #191765;
  }

  #time {
    padding: 20px;
    text-align: left;
  }

  #time h1 {
    color: var(--color-4100, #FFF);
    text-align: left;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: -0.28px;
  }

 

  /* Style for the heading (h2) */
  h2 {
    color: var(--theme-3-neutral-11, #FFF);
    text-align: left;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.54px;
    
  }

  /* Style for the navigation */
  nav {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  /* Style for the hamburger icon */
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }

  
  /* Style for the menu list */
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .menu li {
    margin: 0 10px;
  }

  .menu li a {
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 20px;
  }

  .main {
    text-align: center;
    padding: 50px;
  }

  /* Style for the main heading */
  .main h1 {
    color: var(--theme-4-primary-2, #7D73FC);
    margin-bottom: 20px;
    text-align: center;
    font-size: 48px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0.37px;
  }

  /* Style for the paragraph */
  .main h3:not(:first-child) {
    color: var(--theme-4-primary-4, #EDECFF);
    text-align: center;
    font-size: 32px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 44px;
  }

  .main p:not(:first-child){
    color: var(--theme-4-neutral-7, #C8C8D4);
    text-align: center;
    font-size: 20px;
    font-family: Roboto;
    line-height: 28px;
  }
 
  /* style for footer */
  .footer {
    padding: 30px;
    text-align: center;
}

.footer__title {
  color: var(--theme-4-primary-3, #9490FF);
  font-size: 12px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.36px;
    
}

.footer__content {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}

.footer__content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__content ul li {
  color: var(--theme-4-neutral-10, #F5F5FF);
  font-size: 15px;
  font-family: Roboto;
  line-height: 24px;
}
/* line's style */

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100vh;
  
}

line {
  stroke: rgba(100, 99, 105, 1);
  stroke-width: 1;
}
  
/* link's style */
.link-list {
  display: flex;
  justify-content: center; /* Center align the link list vertically */
  padding: 30px;
}

.link-list ul {
  list-style-type: none; /* Remove default list bullet points */
  padding: 0;
  margin: 0;
  
}

.link-list li {
  margin-bottom: 10px; /* Adjust the spacing between each link */
  vertical-align: top;
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
}

.link-list a {
  display: flex; /* Align icon and text horizontally */
  align-items: center; /* Center align icon and text vertically */
  text-decoration: none;
  color: #fff;  /* Set link text color */
  
}
.link-list i {
  margin-right: 5px; /* Adjust the spacing between the icon and text */
  width: 18px;
  height: 20px;
  flex-shrink: 0;
}

/* style for the arrow */

.arrow {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.arrow span {
  font-size: 20px;
  margin-right: 5px;
  color: #fff;
}