@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
  }

  body{
    line-height: 1.6;
    background-color: #191765;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }
  
  .menu-text {
    font-size: 30px;
    color: var(--theme-3-neutral-11, #FFF);
    font-weight: 500;
    font-family: Roboto;
    text-decoration: none;
  }

  .main {
    text-align: center;
    padding: 30px;
  }

  /* Style for the main heading */
  .main h1 {
    color: var(--theme-4-primary-2, #7D73FC);
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
  }

  /* Style for the paragraph */
  .main h3:not(:first-child) {
    color: var(--theme-4-primary-4, #EDECFF);
    text-align: center;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 500;
  }

  .main p{
    color: var(--theme-4-neutral-7, #C8C8D4);
    text-align: center;
    font-size: 24px;
    font-family: Roboto;
    margin-top: 30px;
  }

  .line {
    width: 100%;
    background-color: #646369;
    margin-top: 40px;
    margin-bottom: 40px;
  }
 
  /* style for skills */
  .skills {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    padding: 30px;
}

.skills__content {
  width: 40%;
}

.skills__title {
  color: var(--theme-4-primary-3, #9490FF);
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: start;
    
}

li {
    list-style: none;
}

.skills__content li {
  color: #F5F5FF;
  font-size: 15px;
  font-family: Roboto;
  text-align: start;
}
  
/* link's style */
.link-list {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin: auto;
  width: 40%;
}

i {
  color: #F5F5FF;
}

/* style for the arrow */

.arrow {
  display:flex;
  align-items: center;
  justify-content: center;
  color: #F5F5FF;
  margin-top: 40px;
  margin-bottom: 40px;
}

.work {
  padding: 40px;
}

.work-title {
  display: flex;
  width: 327px;
  padding-left: 20px;
  flex-direction: column;
  justify-content: center;
  color: var(--theme-4-primary-3, #9490FF);
  font-size: 40px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 52px;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  text-align: center;
}

.image img {
  width: 327px;
 height: 236px;
 padding: 20px;
 background: linear-gradient(0deg, #F9F9F9 0%, #F9F9F9 100%),
  url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-family: roboto;
  color: #FFF;
}

#save-project{
  background-color: #008cba;
  font-size: 18px;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: left;
  display: block;
  margin: 30px auto;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .text {
    align-items: flex-start;
    margin-top: 0;
  }
}


 
