@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }

  body{
    line-height: 1.6;
    background-color: rgb(97, 32, 46);
  }

  .id{
    display: inline-block;
    justify-content:justify;
    text-align: right;
    margin-bottom: 30px;
  }

  h1 {
   font-size: 36px;
   font-weight: bold;
   text-align: center;
   margin: 40px 0 60px 0;
}

  





